<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

# If the file or directory exists → serve it normally

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, send everything to index.html

RewriteRule . /index.html [L]
</IfModule>
